.baseField input {
    min-width: 700px;
}

.inlineGroupFields {
    display: flex;
    flex-direction: row;
    float: left;
    column-gap: 20px;
    padding-bottom: 20px;

}

.inlineShowGroupFields {
    display: flex;
    flex-direction: row;
    float: left;
    column-gap: 20px;
    padding-bottom: 10px;
}

.terminal {
    background-color: black;
    color: white;
    max-height:500px;
    width: 100%;
    overflow:scroll;
}

.terminal p {
    margin-botton: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}