.logo {
    width: 15rem;
    margin-bottom: 10px;
}

.organization > * {
    display: block;
}

.organization > small {
    font: 0.77rem "DinWebMedium", sans-serif;
    font-weight: 600;
}

.button {
    background-color: #8f1822;
}

